@using PROJ.Logic.DTOs

@{ 
    var activeId = ViewBag.ActiveProjectId != null ? (int)ViewBag.ActiveProjectId : 0;
}

<div class="side-menu side-menu-sub bg-blue-grey-lighten-4">
    <div class="side-menu-sub-header">
        <div class="side-menu-sub-header-top">
            <input id="search-project" class="form-input" placeholder="Search" />
        </div>
        <div class="side-menu-sub-header-bottom">
            <span>Projects (@ViewBag.ProjectsList.Count)</span>
        </div>
    </div>
    <div class="side-sub-menu-actions">
        @foreach (var project in (ViewBag.ProjectsList as IList<ProjectDTO>).OrderBy(x => x.Id))
        {
            var active = activeId == project.Id ? "active" : "";
            <a class="side-sub-menu-action color-blue-grey-darken-3 @active" href="@Url.Action(nameof(ProjectController.Show), "Project", new { id = project.Id })">
                <span>@project.Name</span>
                <span>@project.Users.Count @(project.Users.Count == 1 ? "person" : "people")</span>
            </a>
        }
    </div>
</div>