@using PROJ.Shared.Enums

@model ProjectViewModel

@{
    ViewData["Title"] = Model.Name;
    var assignedTaskIds = ViewBag.AssignedTaskIds as IEnumerable<int>;
}

@section Scripts {
    <script type="text/javascript" src="~/js/project-functions.js"></script>
    <script type="text/javascript" src="~/js/task-group-functions.js"></script>
    <script type="text/javascript" src="~/js/task-functions.js"></script>
}

@Html.HiddenFor(x => x.Id)

<partial name="_List" />

<div class="sub-menu-page">
    <div class="page-header">
        <span id="project-name" contenteditable="true" spellcheck="false" data-original-name="@Model.Name">@Model.Name</span>
        <div class="loader loader-small"></div>
        <div class="req-error req-error-small">
            <span class="fas fa-exclamation-triangle" title="Error"></span>
            <span id="error-message"></span>
        </div>
        <div class="icons-container">
            <div id="project-toggle-completed" class="icon">
                <span class="fas fa-check-double" title="Show/Hide All Completed Tasks"></span>
            </div>
            <div id="project-show-my-tasks" class="icon">
                <span class="fas fa-tasks" title="Show My Tasks Only / Show All"></span>
            </div>
            <div id="project-delete" class="icon destructive">
                <span class="fas fa-trash" title="Delete Project"></span>
            </div>
        </div>
    </div>

    <div class="task-groups-container">
        @foreach (var group in Model.TaskGroups.OrderBy(x => x.Id))
        {
            <div class="task-group" data-id="@group.Id">
                <div class="task-group-header">
                    <span id="task-group-name" contenteditable="true" spellcheck="false" data-original-name="@group.Name">@group.Name</span>
                    <span>&ensp;&mdash;&ensp;@group.Tasks.Count @(group.Tasks.Count == 1 ? "task" : "tasks")</span>
                    <div class="loader loader-small"></div>
                    <div class="req-error req-error-small">
                        <span class="fas fa-exclamation-triangle" title="Error"></span>
                        <span id="error-message"></span>
                    </div>
                    <div class="icons-container">
                        <div id="task-group-toggle-completed" class="icon">
                            <span class="fas fa-check" title="Show/Hide Completed Tasks"></span>
                        </div>
                        <div id="task-group-delete" class="icon destructive">
                            <span class="fas fa-trash" title="Delete Task Group"></span>
                        </div>
                    </div>
                    <span class="fas fa-angle-up toggle-task-group"></span>
                </div>

                <div class="tasks-container">
                    @foreach (var task in group.Tasks.OrderBy(x => x.Id))
                    {
                        var isCompletedClass = task.IsCompleted ? "completed" : "";
                        var isCompletedCheck = task.IsCompleted ? "checked" : "";
                        var isAssignedClass = assignedTaskIds.Contains(task.Id) ? "assigned" : "";
                        <div class="task @isCompletedClass @isAssignedClass" data-id="@task.Id">
                            <input id="complete-task" type="checkbox" class="form-checkbox" @isCompletedCheck />
                            <div class="priority">
                                @switch (task.Priority)
                                {
                                    case Priority.Low:
                                    {
                                        <span class="fas fa-angle-down priority-low" title="Low Priority"></span>
                                        break;
                                    }
                                    case Priority.High:
                                    {
                                        <span class="fas fa-angle-up priority-high" title="High Priority"></span>
                                        break;
                                    }
                                    case Priority.Critical:
                                    {
                                        <span class="fas fa-exclamation-circle priority-critical" title="Critical Priority"></span>
                                        break;
                                    }
                                    case Priority.Normal:
                                    default: break;
                                }
                            </div>
                            <span id="task-name" contenteditable="true" spellcheck="false" data-original-name="@task.Name">@task.Name</span>
                            <div class="user-icons-container">
                                @foreach (var user in task.AssignedUsers)
                                {
                                    // TODO actual user icons
                                    <div class="user-icon">
                                        <img src="~/images/unknown_user.png" title="@user.UserName" style="border: 1px solid #CFD8DC" />
                                    </div>
                                }
                            </div>
                            <div class="loader loader-small"></div>
                            <div class="req-error req-error-small">
                                <span class="fas fa-exclamation-triangle" title="Error"></span>
                                <span id="error-message"></span>
                            </div>
                            <div class="icons-container">
                                <div id="task-details" class="icon">
                                    <span class="fas fa-clipboard" title="Details"></span>
                                </div>
                                @if (assignedTaskIds.Contains(task.Id))
                                {
                                    <div id="task-leave" class="icon">
                                        <span class="fas fa-user-minus" title="Leave Task"></span>
                                    </div>
                                }
                                else
                                {
                                    <div id="task-join" class="icon">
                                        <span class="fas fa-user-plus" title="Join Task"></span>
                                    </div>
                                }
                                <div id="task-toggle-priority" class="icon">
                                    <span class="fas fa-exclamation" title="Set Priority"></span>
                                    <div class="priority-icon priority-icon-low" data-priority="@Priority.Low">
                                        <span class="fas fa-angle-down" title="Low Priority"></span>
                                    </div>
                                    <div class="priority-icon priority-icon-normal" data-priority="@Priority.Normal">
                                        <span class="fas fa-minus" title="Normal Priority"></span>
                                    </div>
                                    <div class="priority-icon priority-icon-high" data-priority="@Priority.High">
                                        <span class="fas fa-angle-up" title="High priority"></span>
                                    </div>
                                    <div class="priority-icon priority-icon-critical" data-priority="@Priority.Critical">
                                        <span class="fas fa-exclamation-circle" title="Critical Priority"></span>
                                    </div>
                                </div>
                                <div id="task-delete" class="icon destructive">
                                    <span class="fas fa-trash" title="Delete Task"></span>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="loader loader-small"></div>

                    <div class="req-error req-error-small">
                        <span class="fas fa-exclamation-triangle" title="Error"></span>
                        <span id="error-message"></span>
                    </div>

                    <div class="task new-task">
                        <input class="form-input" placeholder="Task Name" />
                    </div>

                    <div id="add-task" class="add-link">
                        <span class="fas fa-plus"></span>
                        &ensp;Add Task
                    </div>
                </div>
            </div>
        }

        <div class="loader loader-medium"></div>

        <div class="req-error">
            <span class="fas fa-exclamation-triangle" title="Error"></span>
            <span id="error-message"></span>
        </div>

        <div class="task-group new-group">
            <input class="form-input" placeholder="Task Group Name" />
        </div>

        <div id="add-task-group" class="add-link">
            <span class="fas fa-plus"></span>
            &nbsp; Add Task Group
        </div>
    </div>
</div>

<div class="task-details-container">
    <div class="loader"></div>
    <span id="close-task-details" class="task-details-close-icon fas fa-times"></span>
</div>
