@using PROJ.Logic.DTOs
@using PROJ.Shared.Enums
@using PROJ.Logic.Interfaces

@inject IAppContext AppContext

@model TaskDTO

<form id="task-details-form" asp-controller="Task" asp-action="Edit">
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Priority)
    @Html.HiddenFor(x => x.TaskGroup.Id)
    @Html.HiddenFor(x => x.TaskGroup.Project.Id)
    @for (int i = 0; i < Model.Checklists.Count; i++)
    {
        @Html.HiddenFor(x => x.Checklists[i].Id)
    }
    @for (int i = 0; i < Model.Comments.Count; i++)
    {
        @Html.HiddenFor(x => x.Comments[i].Id)
    }
    @for (int i = 0; i < Model.AssignedUsers.Count; i++)
    {
        @Html.HiddenFor(x => x.AssignedUsers[i].Id)
    }
    <div class="task-details" data-id="@Model.Id">
        <div class="details-menu">
            <div class="info-group">
                <label asp-for="CreationDate"></label>
                <input asp-for="CreationDate" class="info-input" readonly />
            </div>
            <div class="info-group">
                <label asp-for="ModificationDate"></label>
                <input asp-for="ModificationDate" class="info-input" readonly />
            </div>
            <div class="info-group">
                <label asp-for="Priority"></label>
                <select asp-for="Priority" asp-items="@Html.GetEnumSelectList<Priority>()" class="form-select"></select>
            </div>
            <div class="info-group">
                <label asp-for="IsCompleted"></label>
                <input asp-for="IsCompleted" class="form-checkbox" />
            </div>
            <div class="info-group">
                <label asp-for="EstimatedHours"></label>
                <input asp-for="EstimatedHours" class="info-input" placeholder="not set" />
            </div>
        </div>

        <div class="details-body">
            <div class="details-title">
                <div class="user-icons-container">
                    @foreach (var user in Model.AssignedUsers)
                    {
                        <div class="user-icon">
                            <img src="~/images/unknown_user.png" title="@user.UserName" style="border: 1px solid #CFD8DC" />
                        </div>
                    }
                </div>
                <div class="icons-container">
                    @if (AppContext.AssignedTasks.Any(x => x.Id == Model.Id))
                    {
                        <div id="task-leave" class="icon icon-static">
                            <span class="fas fa-user-minus" title="Leave Task"></span>
                        </div>
                    }
                    else
                    {
                        <div id="task-join" class="icon icon-static">
                            <span class="fas fa-user-plus" title="Join Task"></span>
                        </div>
                    }
                    <div id="task-delete" class="icon icon-static icon-large destructive">
                        <span class="fas fa-trash" title="Delete Task"></span>
                    </div>
                </div>
            </div>
            <input asp-for="Name" class="details-input" />
            <textarea asp-for="Description" class="details-input auto-expand" placeholder="Description" rows="2" data-min-rows="2" spellcheck="false"></textarea>
        </div>
    </div>
</form>
